body {
  background-image: url(../img/ola.jpg);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.content {
  background-color: #ffffff;
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 9%;
}

.content img {
  width: 200px;
  margin: 0px 36%;
  padding-top: 2%;
}

.content form {
  margin-left: 15%;
}

.content form label {
  color: #00335e;
  font-weight: bold;
}

.content form input {
  width: 80% !important;
  border-radius: 10px !important;
  border-color: #00335e !important;
}

.content form a {
  margin-right: 20%;
  margin-top: -2%;
  font-size: 0.8em;
  color: #fa8529;
  text-decoration-color: #fa8529;
  float: right;
}

.button {
  text-align: center;
    margin-right: 15%;
}


.button button {
  background-color: #fa8529;
  border-color: #fa8529;
  font-weight: bold;
}

.button p {
  margin-top: 4%;
  font-weight: bold;
  color: #00335e;
}

.button button:hover,
.button button:focus {
  background-color: #fa8529;
  border-color: #fa8529;
}

.content .cadastro {
  margin-top: 3%;
  padding-bottom: 2%;
  margin-left: 50%;
  color: #00335e;
  display: block;
}

.content .cadastro span {
  font-weight: bold;
}

/* Responsivo  */


@media (max-width: 600px) {

  .content {
    width: 96%!important;
    margin-left: 2%;
    margin-right: 2%;
  }

  .content img {
    width: 150px;
    margin: 0px 28%;
  }

  .content .cadastro {
    margin-top: 4%;
    text-align: center;
    margin-left: 0;
  }

}

@media(min-width: 768px) and (max-width: 1000px) {

  .content {
    width: 88%!important;


}
}

@media(min-width: 1001px) and (max-width: 1024px) {

  .content {
    width: 69%!important;


}
}


/* Modal de cadastro */
.modal-content{
  margin-top: 33%;
}

.title-regis{
  color: #00335E;
  font-weight: bold;
}

.modal-form-regis label,
.modal-form-regis p{
  color: #00335E;
}

.modal-decision{
  display: flex;
  justify-content: space-evenly;
  margin-top: -2%;
  margin-bottom: 3%;
}

.modal-btn-enviar{
  background-color: #00335E!important;
  color: #ffffff!important;
  border-radius: 5px!important;
}

.modal-btn-enviar{
  background-color: #00335E!important;
  color: #ffffff!important;
}

