@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.cadastrarServico{
    margin-top: 10px;
    margin-left: 25%;
    font-size: 1.4em;
    font-weight: bold;
}

.service-h1{
    margin-bottom: 2%;
    margin-left: 35%;
    font-size: 1.6em;
    font-weight: bold;
    color: #00335E;
}

.registered-service{
    width: 300px;
}

.notification-title-service{
    padding: 1% 4%;
}

.photos-service{
  display: flex;
}

.photos-services-tree{
    width: 440px;
    margin: 0 6% 2% 6%;
}


@media (max-width: 600px) {

    .service-h1 {
        margin-left: 0;
        margin-bottom: 6%;
    }

    .photos-service {
       display: block;
    }

    .photos-services-tree{
        width: 87%;

    }

    .notification-description {
        font-size: 1.0em;
    }
}

@media(min-width: 768px) and (max-width: 1000px) {

    .notification {
        width: 100%;
  
  
  }

}